.vs
bin
obj
Migrations
package-lock.json
SQL/StudentPhotos
PPP-Server-Side/PiggsPeak_API/PiggsPeak_API/certificate.pfx
*._
*.config
*.dll
*.lnk
*.lock
*.nupkg
*.p7s
*.png
*.pdb
*.pri
*.ps1
*.targets
*.TXT
*.xml
